{% extends "base.twig" %}
{% block title %}
Gestion Offres/Entreprise
{% endblock %}
{% block content %}

    <link rel="stylesheet" href="assets/css/styleadmin.css"/>

    {% if session.user_id is defined and session.user_id is not null and (session.id_role == 2 or session.id_role == 3) %}
    <main class="admin-container">
        <div class="admin-header">
            <h1>Gestion des Offres/Entreprise</h1>
        </div>

        <table class="admin-table">
            <thead>
                <tr>
                    <th>Nom entreprise</th>
                    <th>Email</th>
                    <th>Secteur</th>
                    <th>Note</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for ent in entreprise %}
                    <tr>
                        <td data-label="Nom entreprise">{{ ent.nom_entreprise }}</td>
                        <td data-label="Email">{{ ent.email_entreprise }}</td>
                        <td data-label="Secteur">{{ ent.secteur_entreprise }}</td>
                        <td data-label="Note">
                        {% if ent.note_evaluation is not null %}
                            {{ent.note_evaluation}} / 5
                        {%else%}
                            Aucune
                        {% endif %}
                        </td>
                        <td>
                            <a href="index.php?page=afficher_offre&nom={{ ent.nom_entreprise }}" class="btn-action btn-edit">Voir offres</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5" style="text-align:center;">Aucune entreprises trouvé.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    {% else %}
        <div class="alert error">
            <p>Accès refusé. Vous n'avez pas les permissions nécessaires.</p>
            <a href="/">Retour à l'accueil</a>
        </div>
    {% endif %}

{% endblock %}