{% extends "base.twig" %}
{% block title %}
Gestion Entreprises
{% endblock %}
{% block content %}

    <link rel="stylesheet" href="assets/css/root.css"/>
    <link rel="stylesheet" href="assets/css/styleadmin.css"/>

    {% if session.user_id is defined and session.user_id is not null and (session.id_role == 2 or session.id_role == 3) %}
    <main class="admin-container">
        <div class="admin-header">
            <h1>Gestion des Entreprises</h1>
            <a href="index.php?page=creerentreprise" class="btn-add">+ Ajouter une entreprise</a>
        </div>

        <table class="admin-table">
            <thead>
                <tr>
                    <th>Siret</th>
                    <th>Nom entreprise</th>
                    <th>Email</th>
                    <th>Secteur</th>
                    <th>Ville</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for ent in entreprise %}
                    <tr>
                        <td>{{ ent.siret_entreprise }}</td>
                        <td>{{ ent.nom_entreprise }}</td>
                        <td>{{ ent.email_entreprise }}</td>
                        <td>{{ ent.secteur_entreprise }}</td>
                        <td>{{ ent.ville_entreprise }}</td>
                        <td>
                            <a href="index.php?page=modifier_entreprise&id={{ ent.siret_entreprise }}" class="btn-action btn-edit">Modifier</a>
                            <a href="index.php?page=supprimer_entreprise&id={{ ent.siret_entreprise }}" class="btn-action btn-delete" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet utilisateur ?');">Supprimer</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6" style="text-align:center;">Aucune entreprises trouvé.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
    {% else %}
        <div class="alert error">
            <p>Accès refusé. Vous n'avez pas les permissions nécessaires.</p>
            <a href="/">Retour à l'accueil</a>
        </div>
    {% endif %}

{% endblock %}